 
.label {
    background-color: rgb(211, 228, 228);
    color:black;
    border-radius: 4px;
    width: 500px;
    margin-left: 10px;
}

@media (max-width: 992px){
    .item-list {
        width: 100%;
        margin-bottom: 3rem;
    }
    .label {
        display: inline;
        margin-left: 20px;
    }
}
@media (max-width: 420px){
    .label {
        display: none;
    }
   
}