.random-planet {
    padding: 1rem;
}

.random-planet__image{
    margin: auto 0;
    
}
 
.random-planet__picture {
    max-width: 100%;
    height: 200px;
    border-radius: 5px;
}

.random-planet__description{
    margin-left: 2rem;
}

.random-planet__list {
    border-width: 1px 0 0;
    padding: .3rem 1rem;
}

.random-planet__title {
    margin-left: 1.5rem;
}

@media(max-width:576px){
    .random-planet {
        
        max-width: 100%;
    }
    .random-planet__description{
        margin: 0;
    }
    .random-planet__image{
        margin-bottom: 15px;
    }
    .header__list{
        display: flex;
    }
}
@media(max-width:460px){
    .random-planet {
        justify-content: center;
    }
    .random-planet__description{
       display: none;
    }
    .random-planet__image{
       margin-bottom: 0;
    }
}
