.random-planet {
    padding: 1rem;
}

.planets-img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.description{
    margin-left: 2rem;
}

.description .list-description {
    border-width: 1px 0 0;
    padding: .3rem 1rem;
}

.description h2 {
    margin-left: 1.5rem;
}