@media(max-width:510px){
    .random-planet {
        flex-direction: column;
        align-items: center;
    }
    .description{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}