.blockPage {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}
@media (max-width: 1200px) {
    .blockPage{
        
    }
}
@media (max-width: 768px) {
    .blockPage{
        flex-direction: column;
    }
    
}



@media (max-width: 420px){
   
    .renderItem__title{
        display: flex;
        justify-content: center;
    }
}